ion-toolbar{
    --background: #7898ff !important;
    color: white;
    text-align: center;
}




.button-container{
    margin-left: 25%;
}





.select-options{

    color: white
}

.default-container{
    width: 50%;
    
} 
    .select-container{
        margin-left: 25%;
    }

    .input-container{
        margin-left: 25%;
    }
    .toggle-container{
        display: flex;
        margin-left: 25%;
        
    }    




.switch-container{
    
    margin-top: 10px;
}

.text-toggle{
    font-size: 15px;
    color: WHITE;
}


