<ion-header>
  <ion-toolbar>
    <ion-title>Configuración de la Cuenta</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="config-page-container">
    <p class="list-title">Datos de la cuenta</p><!-- esto va en función de que necesitan se usan suposiciones en el form-->

    <ion-item>
      <!--<ion-avatar slot="start">
          <img src="https://image.flaticon.com/icons/svg/1602/1602619.svg">
      </ion-avatar>-->
      <ion-label position="stacked">Empresa<ion-text color="danger">*</ion-text></ion-label>
      <ion-input  [(ngModel)]="enterprise.name" name="name" required></ion-input>
    </ion-item>             

    <ion-item>
      <!--<ion-avatar slot="start">
          <img src="https://image.flaticon.com/icons/svg/1602/1602619.svg">
      </ion-avatar>-->
      <ion-label position="stacked">Rut<ion-text color="danger">*</ion-text></ion-label>
      <ion-input  [(ngModel)]="enterprise.rut" name="rut" required type="rut"></ion-input>
    </ion-item>             

    <ion-item>
      <!--<ion-avatar slot="start">
          <img src="https://image.flaticon.com/icons/svg/1602/1602619.svg">
      </ion-avatar>-->
      <ion-label position="stacked">N° de Folio<ion-text color="danger">*</ion-text></ion-label>
      <ion-input  [(ngModel)]="enterprise.folio" name="folio" required type="url"></ion-input>
    </ion-item>
    
    <ion-button class="update-button" (click)="updateEnterprise();">
      Actualizar Datos
    </ion-button>

    <p class="list-title">Sesión de la cuenta</p>
    
    <ion-button (click)="logOut();">
      Cerrar Sesión
    </ion-button>
  </div>
</ion-content>
